.navbar {
  background-color: #333A40;
}

.navbar-brand img { max-width: 100px; }

.navbar .navbar-nav .btn-compra-tickets{
  color: #25A342;
}

/* .banner__image{
  background-image: url(./../img/ba1.jpg);
  height: 100vh;
  filter: brightness(.5);
  -webkit-filter: brightness(.5);
} */

.bg-carousel-ba1 { background-image: url(../img/ba1.jpg); }
.bg-carousel-ba2 { background-image: url(../img/ba2.jpg); }
.bg-carousel-ba3 { background-image: url(../img/ba3.jpg); }

.carousel-item {
  height: 100vh;
  background-size: cover;
  background-position: center center;
}

.carousel-item svg{
  opacity: .5; 
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.btn-orador, .btn-comprar{
  width: 10rem;
}

div .carousel-indicators{
  margin-bottom: 5px;
}

.titulo-gral {
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
}
.titulo-gral span {
  display: block;
  font-weight: 700;
  font-size: 2.2rem;
} 

.bg-aside1 {
  background: #333a40;
  padding: 2rem;
}

button.btn.btn-lg.btn-form{
  background: #96c93e;
  color: #fff !important;
}

button.btn.btn-lg.btn-form:hover { background: #74aa17; }
