.navbar-dark .navbar-nav .btn-compra-tickets { 
  color: #25a342; 
}

.navbar {
  background-color: #333a40 !important;
  height: 10vh;
}

.navbar .container{
  background: #333a40 !important;

}

.navbar-brand img { 
  max-width: 100px; 
}

.navbar .navbar-nav .btn-compra-tickets{
  color: #25A342;
}

.bg-carousel-ba1 { 
  background-image: url(../img/ba1.jpg); 
}

.bg-carousel-ba2 { 
  background-image: url(../img/ba2.jpg); 
}

.bg-carousel-ba3 { 
  background-image: url(../img/ba3.jpg); 
}

.carousel-item {
  margin-top: 10vh;
  height: 90vh;
  background-size: cover;
  background-position: center center;
}

.carousel-item svg{
  opacity: .5; 
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

#spekears-1{
  height: 8vh;
  /* margin-top: 8vh !important; */
}

.speakers{
  margin-bottom: 10vh;
}

#trip-2{
  height: 8vh;
}

.btn-orador, .btn-comprar{
  width: 10rem;
}

div .carousel-indicators{
  margin-bottom: 5px;
}

.titulo-gral {
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
  margin-top: 2vh;
}

.titulo-gral span {
  display: block;
  font-weight: 700;
  font-size: 2.2rem;
} 

section.form{
  margin:2vh;
}

.bg-aside1 {
  background: #333a40;
  padding: 2rem;
}

textarea{
  resize: none !important;
}

button.btn.btn-lg.btn-form{
  background: #96c93e;
  color: #fff !important;
}

button.btn.btn-lg.btn-form:hover { 
  background: #74aa17; 
}

#totalPago {
  font-size: 1.4rem;
  font-weight: 700;
}

/* Footer */

#main-footer {
  background: #1d3c4e;
  color: #fff;
  padding: 1rem;
}

#main-footer .nav-link {
  color: #fff;
  text-align: center;
}

#main-footer .nav-link:hover { opacity: .7; }

@media (min-width: 992px) {
  #main-footer .nav-link span { display: block; }
  .btn-compra-tickets {
    border: 1px solid transparent;
    border-radius: .8rem;
  }
  .navbar-dark .navbar-nav .btn-compra-tickets.active {
    background: #25a342;
  }
}

@media (max-width: 750px){
  #spekears-1{
    display: none;
  }
  #trip-2{
  display: none;
  }
}

